body {
  margin: 0;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  color: #3f4445;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 6px;
  border-color: lightgrey;
  width: 3.5%;
}

.upcloud {
  position: absolute;
  right: 15%;
  top: 70px;
}

.downcloud {
  position: absolute;
  left: 15%;
  bottom: 370px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Tangerine', cursive;
  font-size: 7rem;
  font-weight: bold;
  color: #34808c;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #34808c;
}

.sub {
  font-size: 1.5rem;
  padding-bottom: 35px;
}

h3 {
  color: #34808c;
}

.profile {
  width: 25%;
  margin: 0 auto 80px auto;
  line-height: 2;
}

.profile-pic {
  width: 50%;
  margin-top: 60px;
}

.skills {
  margin: 80px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.sketch {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.guitar {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.projects {
  margin: 80px auto 100px auto;
}

.project-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.veteran {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.android {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.fullproj {
  color: #AF7AB3;
  text-decoration: none;
}

.fullproj:hover {
  color: #80558C;
}

.contact-me {
  width: 25%;
  margin: 80px auto 0 auto;
  line-height: 2;
  padding-bottom: 80px;
}

.top-container {
  position: relative;
  background-color: #c1dee3;
  padding: 100px;
  padding-bottom: 0;
}

.middle-container {
  background-color: #F3F9FB;
}

.bottom-container {
  background-color: #c1dee3;
  padding: 30px;
  line-height: 3;
}

.footer-link {
  color: #34808c;
  margin: auto 30px auto 30px;
  text-decoration: none;
  font-size: 90%;
  font-weight: bolder;
}

.icons {
  color: #54BAB9;
}

.iconlink {
  color: #34808c;
  text-decoration: none;
}

.copyright {
  color: black;
  font-size: 0.7rem;
}

a:hover {
  color: white;
}


.btn {
  background: #8ED2DC;
  background-image: -webkit-linear-gradient(top, #8ED2DC, #317C87);
  background-image: -moz-linear-gradient(top, #8ED2DC, #317C87);
  background-image: -ms-linear-gradient(top, #8ED2DC, #317C87);
  background-image: -o-linear-gradient(top, #8ED2DC, #317C87);
  background-image: -webkit-gradient(to bottom, #8ED2DC, #317C87);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #317C87;
  background-image: -webkit-linear-gradient(top, #317C87, #8ED2DC);
  background-image: -moz-linear-gradient(top, #317C87, #8ED2DC);
  background-image: -ms-linear-gradient(top, #317C87, #8ED2DC);
  background-image: -o-linear-gradient(top, #317C87, #8ED2DC);
  background-image: -webkit-gradient(to bottom, #317C87, #8ED2DC);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
